.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search {
    display: block;
    margin: 0 auto 25px auto;
    padding: 12px 14px;
    width: 320px;
    max-width: 90%;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #1f1f1f;
    color: white;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

.search::placeholder {
    color: #aaa;
}

.search:focus {
    border-color: #666;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
}

.card {
    background-color: #222;
    border-radius: 10px;
    padding: 12px;
    text-align: center;

    display: flex;
    flex-direction: column;

    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 16px;
    margin: 8px 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px 0;
}

p {
    margin-top: auto;
    font-weight: bold;
}

button {
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

button {
    background-color: #b31111;
}

button:hover {
    background-color: #8d0303;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
}