.container {
    max-width: 1200px;
    min-height: 300px;
    max-height: 300px;
    margin: 0 auto;
    padding: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search {
    display: block;
    margin: 0 auto 25px auto;
    padding: 12px 14px;
    width: 320px;
    max-width: 90%;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #1f1f1f;
    color: white;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

.search::placeholder {
    color: #aaa;
}

.search:focus {
    border-color: #666;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
}

.card {
    background-color: #222;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    transform: scale(1.05);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container h3 {
    font-size: 15px;
    margin: 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container p {
    margin-top: auto;
    font-weight: bold;
}

.container img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.pagination button {
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.container button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.container span {
    font-weight: bold;
}