body {
    background-color: #191919;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: scroll;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #b31111;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: #8d0303;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
}